body {
	margin: 0;
	font-family:arial,helvetica,sans-serif;
}
#topbar {
	background-color:#FFFFFF;
	width:100%;
	height:40px;
	color: black;
}

.fixedwidth {
	width: 1050px;
	margin: 0 auto;
}

#logodiv {
	padding-top: 5px;
	padding-right: 10px;
	float:left;
	border-right:1px solid #CCCCCC;
}

#signindiv {
	font-weight: bold;
	padding: 3px 80px 10px 20px;
	font-size: 0.9em;
	float: left;
	border-right:1px solid #CCCCCC;
	
}

#signindiv img {
	position:relative;
	top: 3px;
}

#topmenudiv {
	float:left;
}

#topmenudiv ul {
	margin: 0;
	padding: 0;
}

#topmenudiv li {
	list-style: none;
	font-weight: bold;
	font-size: 0.9em;
	border-right:1px solid #CCCCCC;
	height: 100%;
	padding: 10px 20px 12px 20px;
	float: left;
}

#searchdiv {
	float:left;
	padding: 7px 0 0 10px;
	
}

#searchdiv input{
	height: 20px;
	font-size: 0.9em;
	border: none;
	padding-left: 10px;
	background-color: #E4E4E4;
	background-image:url("images/magnify.PNG");
	background-repeat: no-repeat;
	background-position: right center;
	
}

.break {
	clear:both;
}

#newsbar {
	background-color:#CC0101;	
	width:100%;
	height:105px;
	color: white;
}

#newsbar p{
	margin: 0;
	padding: 0;
	padding-top: 10px;
	float: left;
}

#newsheader {
	font-size: 3em;
}

#uk {
	font-size: 0.7em;
	padding-left: 20px;
}

#rss {
	float: right;
	margin-top: 40px;
}

#rss img{
	width: 14px;
	height 14px;
}

#newsborder {
	border-bottom:1px solid #DA4C4C;
}
#topicmenu {

}

#topicmenu ul {
	background-color:#CC0101;
	padding: 12px 0 0 5px;
	margin: 0;
	height: 25px;
}

#topicmenu li {
	list-style:none;
	font-size: 1em;
	border-right:1px solid #CCCCCC;
	float:  left;
	padding: 0 10px 0 10px;
}
.selected {
	position: relative;
	background-color:white;
	color: black;
	height: 18px;
}

#content {
	width: 100%;
	color:#535353;
	font-size: .75em;
}

.date {
	font-weight: bold;
}

#content h1{
	color: #1F4F82;
	font-size: 2.5em;
}

.headlineimage{
	float: left;

}

.newsitem {
	position: relative;
	left: 10px;
	top: -15px;
	width: 280px;
	float: left;
	font-size: 1.1em;
}

.newsitem a{
	color:1F4F82;
	text-decoration:none;
}
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.video {
	background-image:url("images/triangle.PNG");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}

.links{
	line-height: 1.6em;
}

#watchlisten {
	background-color: #EEEEEE;
	float: right;
	width: 370px;
	top: -80px;
	position: relative;
}

#watchlisten h2{
	color: 505050;
	margin: 10px 10px 10px; 10px;
	font-size: 2em;
}

.boxes {
	float: right;
	margin: 15px 10px 0 0;
}

.leftarrow {
	float: left;
	border-right: 1px solid white;
}

.wlblock {
	float: left;
	background-color: #D1700E;
	width: 157px;
	border-right: 1px solid white;
}

.wlblock a{
	color:white;
}

.wlblock p{
	margin: 9px 10px 8px 10px;
}

#watchlisten ul{
	margin: 0;
	padding: 0 10px 10px 10px;
}

#watchlisten li {
	list-style: none;
	background-image: url("images/live.PNG");
	background-repeat: no-repeat;
	background-position: left center;
	padding: 10px 0 10px 50px;
	font-size: 1.6em;
}

.bb {
	border-bottom: 1px solid #DDDDDD;
}